@mixin spanWrapper($rotate: "") {
  > span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    @content;
    @if $rotate == "true" {
      writing-mode: vertical-rl;
      transform: rotateZ(180deg);
    } @else {
    }
  }
}
