doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title assignment5
    body 
    .hero 
        .article
            span Tools for Slowing Down
            span chioe Geonghegan & Chice Reth
        .article
            span Text Content1
            span Other1
        .article
            span The(Old) New Spirit of Curating and Myths of Nomadism
            span Tim Genlies
        .article
            span Text Content2
            span Other2
        .article
            span Pressing Singularities
            span Tendai John Mutamgu & Robyn Maree Pickens
        .article
            span We're in This Together
            span Vera Mey
        .article
            span The Curatorial as a Liveable Subject Position: Hospitalliy and Differential Consciousness
            span Danny Butt
        .article
            span Community, Community Art, Community Art in Howich
            span Balamonan Shingode
        .article
            span Text Content3
            span Other3
        .article
            span Feeling Welcome?
            span Louia Aroa & Icana Gordon-Smith
        .article
            span Text Content4
            span Other4
        .article
            span On Friendship
            span Rebocca Boswell