doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title assigment5
    body 
        header 
            div.menu
                div 
                div 
                div 
            div.serch-bar
                div
        article 
            .section
                span 
                    | Ch
                    .mirror a
                    | n
                    .mirror g
                    | es
                span Changes
                span 
                    | Ch
                    span.mirror a
                    | n
                    span.mirror g
                    | es
                span Changes
                span July 4-5
            .section 
            .section 
                ul
                    li About
                    li Contact
                    li Venues
                    li FAQ
                    li Partners
            .section 
            .section Tickets
        nav
            .artists
                .artist-title
                    span Speakers
                    span Artists
                .artist
                    div 
                        span Abby gee
                    div
                        span 808s and greatest
                .artist
                    div 
                        span Alex yabsley
                    div
                        span Hits
                .artist
                    div 
                        span Alex zaccaria
                    div
                        span Activities of daily
                .artist
                    div 
                        span Allegra caldwell
                    div
                        span Livng
                .artist
                    div 
                        span Beatrice
                    div
                        span Alexander Biggs
                .artist
                    div 
                        span Bill wilson [US]
                    div
                        span Alice skye
                .artist
                    div 
                        span Brigid dixon
                    div
                        span Ausmuteants
                .artist
                    div 
                        span Carly james [US]
                    div
                        span Baby
                .artist
                    div 
                        span Cherie hu [US]
                    div
                        span Bench press
                .artist
                    div 
                        span Chris mylrae
                    div
                        span Birdz
                .artist
                    div 
                        span Christie morgan
                    div
                        span Bones and jones
                .artist
                    div 
                        span Christopher
                    div
                        span Cable ties
                .artist
                    div 
                        span Muratore [US]
                    div
                        span Chapel
                .artist
                    div 
                        span Danielle levy [US]
                    div
                        span Civic
                .artist
                    div 
                        span Dave "dizz1" norris
                    div
                        span Cleopold
                .artist
                    div 
                        span David benge [NZ]
                    div
                        span Darcy Baylis
                .artist
                    div 
                        span David ray
                    div
                        span Dark fair
                .artist
                    div 
                        span Gareth smith [US]
                    div
                        span Dianas
                .artist
                    div 
                        span Jenn Pelly [US]
                    div
                        span Diet
                .artist
                    div 
                        span Joseph edward
                    div
                        span Drmngnow
                .artist
                    div 
                        span Keyes [US]
                    div
                        span East brunswich all
                .artist
                    div 
                        span Kat dopper
                    div
                        span Girls choir
                .artist
                    div 
                        span Kate duncan
                    div
                        span Eilish gilligan
                .artist
                    div 
                        span Lorrae mckenna
                    div
                        span Elizabeth
                .artist
                    div 
                        span Marihuzka
                    div
                        span Evan klar
                .artist
                    div 
                        span Cornelius
                    div
                        span Evelyn ida morris
                .artist
                    div 
                        span Markell casey [US]
                    div
                        span fraser a. gorman