doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title assignment2
    body 
        main 
            header
                .text
                    span upcoming 
                    span all ages hardcore 
                .text
                    span at ther eagles lodge 
                    span schenectady, new york 
                .text
                    span hope to see you there 
                    span wednesday, june 27 1990
            content 
                h1 bad
            nav 
            footer
                h1 religion 
                h3 with 
                h3 jawbreaker & glee club
                