doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Assignment1
    body 
        .hero
            header 
                .title
                    h1 Paris
                    h3 06.
                .info
                    ul
                        li Country
                        li France
                        li Population
                        li 2,249,975
                        li Coordimates
                        li 48° 51′ 24″ N
                        li 2° 21′ 4″ E
                    ul
                        li Colours
                        li C23 M0 Y0 K0
                        li C0 M0 Y0 K74
                        li C100 M0 Y54 K0
                    span www.nickbarclaydesign
            main
                .ellipses
                    .ellipse 
                    .ellipse 
                    .ellipse 
                    .ellipse 
                    .ellipse 
                    .ellipse 
                    .ellipse 
                    .ellipse 
                    .ellipse 