doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title assignment7
    body 
        .web-bar
            .options
                .option
                .option
                .option
            input(type="text")
            
        main
            .article 
                div 
                    span CH
                    span A
                    span N
                    span G
                    span ES
                div 
                    span CH
                    span A
                    span N
                    span G
                    span ES                    
                div 
                    span CH
                    span A
                    span N
                    span G
                    span ES                    
                div 
                    span CH
                    span A
                    span N
                    span G
                    span ES                    
                div
                    span JULY 4-5
            .panel1
            .menu 
                div 
                    span About
                    span Contact 
                    span Venues
                    span FAQ 
                    span Partners
            .panel2
            .ticket 
                div 
                    span Tickets
            .speakers
                .title Speakers
                .speaker
                    span Abby gee
                .speaker
                    span Alex yabsley
                .speaker
                    span Alex zaccaria
                .speaker
                    span Allegra caldwell
                .speaker
                    span Beatrice
                .speaker
                    span Bill wilson [us]
                .speaker
                    span Brigid dixon
                .speaker
                    span Carly james [us]
                .speaker
                    span Cherie hu [us]
                .speaker
                    span Chris mylrae
                .speaker
                    span christie morgam
                .speaker
                    span christopher
                .speaker
                    span Muratore [us]
                .speaker
                    span Danielle levy [us]
                .speaker
                    span Dave "dizz1"norris
                .speaker
                    span David Benge [nz]
                .speaker
                    span David Ray
                .speaker
                    span Gareth smith [us]
                .speaker
                    span Jenn pelly [us]
                .speaker
                    span Joseph edward
                .speaker
                    span Keyes [us]
                .speaker
                    span Kat dopper
                .speaker
                    span Kate duncan
                .speaker
                    span Lorrae mckenna
                .speaker
                    span Marihuzka
                .speaker
                    span Cornelius
                .speaker
                    span Markell casey [us]
            .artists
                .title Artists
                .artist
                    span 808s and greatest
                .artist
                    span Hits
                .artist
                    span Activities of daily
                .artist
                    span Living
                .artist
                    span alexander biggs
                .artist
                    span Alice skye
                .artist
                    span ausmuteants
                .artist
                    span Baby
                .artist
                    span Bench press
                .artist
                    span Birdz
                .artist
                    span Bones and jones
                .artist
                    span Cable Ties
                .artist
                    span Chapel
                .artist
                    span Civic
                .artist
                    span Cleopold
                .artist
                    span Darcy baylis
                .artist
                    span Dark fair
                .artist
                    span Dianas
                .artist
                    span Diet
                .artist
                    span Drmngnow
                .artist
                    span East brunswick all
                .artist
                    span Girls choir
                .artist
                    span Eilish gilligan
                .artist
                    span Elizabeth
                .artist
                    span Evan klar
                .artist
                    span Evelyn ida morris
                .artist
                    span Fraser a. gorman



    script(src="https://kit.fontawesome.com/eb99a9e97b.js" crossorigin="anonymous") 

        