doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title assignment7
    body 
        header 
            .item 
                span Year: All
                i.fa-solid.fa-caret-down.fa-xl
            .item 
                span Programme: All
                i.fa-solid.fa-caret-down.fa-xl
            .item 
                span Themes: All
                i.fa-solid.fa-caret-down.fa-xl
            .item 
                span Practice: All
                i.fa-solid.fa-caret-down.fa-xl
            .item 
                span Students
                i.fa-solid.fa-caret-down.fa-xl
        main 
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more
            article 
                .titles
                    span.author Kate Bedford
                    span.type PGDIPFA
                .art-work 
                    .art
                .article-info
                    span.year 2016 
                    a(href="#").more-info Read more

        script(src="https://kit.fontawesome.com/eb99a9e97b.js" crossorigin="anonymous") 

        