doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title assignment8
    body 
        main
            article 
                .category 
                    span Category
                .author Person Name
                .article-column 
                    .occupation 
                        span blablabl
                    .occupation-info
                        a(href="#") 
                            span
                                span 2015
                                span →
                                span present 
            article 
                .category 
                    span Category
                .author Person Name
                .article-column 
                    .occupation 
                        span blablabl
                    .occupation-info
                        a(href="#") 
                            span
                                span 2015
                                span →
                                span present 
            article 
                .category 
                    span Category
                .author Person Name
                .article-column 
                    .occupation 
                        span blablabl
                    .occupation-info
                        a(href="#") 
                            span
                                span 2015
                                span →
                                span present 
            article 
                .category 
                    span Category
                .author Person Name
                .article-column 
                    .occupation 
                        span blablabl
                    .occupation-info
                        a(href="#") 
                            span
                                span 2015
                                span →
                                span present 
            article 
                .category 
                    span Category
                .author Person Name
                .article-column 
                    .occupation 
                        span blablabl
                    .occupation-info
                        a(href="#") 
                            span
                                span 2015
                                span →
                                span present 
            article 
                .category 
                    span Category
                .author Person Name
                .article-column 
                    .occupation 
                        span blablabl
                    .occupation-info
                        a(href="#") 
                            span
                                span 2015
                                span →
                                span present 
            article 
                .category 
                    span Category
                .author Person Name
                .article-column 
                    .occupation 
                        span blablabl
                    .occupation-info
                        a(href="#") 
                            span
                                span 2015
                                span →
                                span present 
            article 
                .category 
                    span Category
                .author Person Name
                .article-column 
                    .occupation 
                        span blablabl
                    .occupation-info
                        a(href="#") 
                            span
                                span 2015
                                span →
                                span present 
            article 
                .category 
                    span Category
                .author Person Name
                .article-column 
                    .occupation 
                        span blablabl
                    .occupation-info
                        a(href="#") 
                            span
                                span 2015
                                span →
                                span present 
            article 
                .category 
                    span Category
                .author Person Name
                .article-column 
                    .occupation 
                        span blablabl
                    .occupation-info
                        a(href="#") 
                            span
                                span 2015
                                span →
                                span present 
            article 
                .category 
                    span Category
                .author Person Name
                .article-column 
                    .occupation 
                        span blablabl
                    .occupation-info
                        a(href="#") 
                            span
                                span 2015
                                span →
                                span present 
        .label
            .top 
                span Special -- Offer, Inc,
            .center
            .bottom
                span 2014 → Forever
                span ©
        .nav
            .nav-items
                a(href="#").item
                    div 
                    span Information
                a(href="#").item
                    div 
                    span Team
                a(href="#").item
                    div 
                    span Press
            .nav-section
                .section
                    h1.title Art News
                    h3.content Performa Launches Online Platform for Streaming New and Archived Works
                .section
                    h1.title The Guardian
                    h3.content blablalbabla...
                .section
                    h1.title Frieze
                    h3.content blablalbabla...
                .section
                    h1.title It's Nice That
                    h3.content blablalbabla...
                .section
                    h1.title WWD
                    h3.content blablalbabla...
                .section
                    h1.title Art Net
                    h3.content blablalbabla...
                .section
                    h1.title The New Yorker
                    h3.content blablalbabla...
                .section
                    h1.title Village Voice
                    h3.content blablalbabla...
                .section
                    h1.title Kaleidoscope Manazine
                    h3.content blablalbabla...
                .section
                    h1.title Dazed Magazine
                    h3.content blablalbabla...
                .section
                    h1.title Art Forum
                    h3.content blablalbabla...
                .section
                    h1.title Culture Type
                    h3.content blablalbabla...