@mixin gridAreaForm($elements) {
  @each $num, $spanColumn, $spanRow, $grid, $offset in $elements {
    &:nth-child(#{$num}) {
      @if ($spanColumn > 0) {
        grid-column: span #{$spanColumn};
      }
      @if ($spanRow > 0) {
        grid-row: span #{$spanRow};
      }
      @if ($grid == true) {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
        gap: 3px;
      }
      .image {
        &:first-child {
          background-image: url("https://source.unsplash.com/random/#{$num + $offset}");
        }
        &:last-child {
          background-image: url("https://source.unsplash.com/random/#{$num + $offset + 1}");
        }
      }
    }
  }
}
