doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title assginment9
    body 
        .body
            nav 
                .nav-column
                    span A1 office 
                    .title Complete office design, construction and meanagement.
                    ul
                        li Home
                        li Services
                        li Spaces
                        li Team
                        li Advice
                        li Contact
                .nav-column
                    .info
                        .address 
                            span 
                                | 1300 726 566
                            span 
                                | sales@a1office.com.au
                        .address 
                            h4 Melbourne 
                            span 
                                | 1374 North Road 
                            span 
                                | Huntingdale VIC 3166
                        .address 
                            h4 Sydney 
                            span 
                                | Level 32 101 Miller Street 
                            span 
                                | North Sydney NSW 2060
                        .languege 
                            span EN | 中
            main 
                .home 
                    span Home 
                    .title 
                        h1 Think 
                        h1 Inside the 
                        h1 square.
                    .content 
                        span 
                            | At A1 Office, we design, construct, project manager,
                            | and mainatain office spaces across a diverse range of industries.
                        span 
                            | We bring 25 wyears' experience in ter industry to 
                            | help you with every aspect of the office fit out-
                            | from design through to construction, and everything beyond.
                section.main-section
                    article
                        .image
                    article 
                        .image
                    article 
                        .image
                    article 
                        .image
                        .image
                    article 
                        .image
                        .image
                    article 
                        .image
                .services
                    span Services 
                    .title 
                        h1 Everthing 
                        h1 
                            | under one roof.
                section.sub-section
                    article 
                        .image
                    article 
                        .image
                        .image
                    article 
                        .image