doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title assignment9
    body 
        nav 
            .menu 
                span Year:
                select(name="year") 
                    option(value="All") All
                .icon
                    i(class="fa-solid fa-caret-down")
            .menu 
                span Programme:
                select(name="programme") 
                    option(value="All") All
                .icon
                    i(class="fa-solid fa-caret-down")
            .menu 
                span Themes:
                select(name="themes") 
                    option(value="All") All
                .icon
                    i(class="fa-solid fa-caret-down")
            .menu 
                span Practice:
                select(name="practice") 
                    option(value="All") All
                .icon
                    i(class="fa-solid fa-caret-down")
            .menu 
                span Students:
                select(name="students") 
                    option(value="All") All
                .icon
                    i(class="fa-solid fa-caret-down")
        main
            .article   
                .top 
                    span Kate Bedford
                    span PGDIPFA
                .middle 
                    .img
                .bottom
                    span 2016
                    a Read More
            .article   
                .top 
                    span Kate Bedford
                    span PGDIPFA
                .middle 
                    .img
                .bottom
                    span 2016
                    a Read More
            .article   
                .top 
                    span Kate Bedford
                    span PGDIPFA
                .middle 
                    .img
                .bottom
                    span 2016
                    a Read More
            .article   
                .top 
                    span Kate Bedford
                    span PGDIPFA
                .middle 
                    .img
                .bottom
                    span 2016
                    a Read More
            .article   
                .top 
                    span Kate Bedford
                    span PGDIPFA
                .middle 
                    .img
                .bottom
                    span 2016
                    a Read More
            .article   
                .top 
                    span Kate Bedford
                    span PGDIPFA
                .middle 
                    .img
                .bottom
                    span 2016
                    a Read More
            .article   
                .top 
                    span Kate Bedford
                    span PGDIPFA
                .middle 
                    .img
                .bottom
                    span 2016
                    a Read More
            .article   
                .top 
                    span Kate Bedford
                    span PGDIPFA
                .middle 
                    .img
                .bottom
                    span 2016
                    a Read More
            .article   
                .top 
                    span Kate Bedford
                    span PGDIPFA
                .middle 
                    .img
                .bottom
                    span 2016
                    a Read More
            .article   
                .top 
                    span Kate Bedford
                    span PGDIPFA
                .middle 
                    .img
                .bottom
                    span 2016
                    a Read More
            .article   
                .top 
                    span Kate Bedford
                    span PGDIPFA
                .middle 
                    .img
                .bottom
                    span 2016
                    a Read More
            .article   
                .top 
                    span Kate Bedford
                    span PGDIPFA
                .middle 
                    .img
                .bottom
                    span 2016
                    a Read More
            .article   
                .top 
                    span Kate Bedford
                    span PGDIPFA
                .middle 
                    .img
                .bottom
                    span 2016
                    a Read More
            .article   
                .top 
                    span Kate Bedford
                    span PGDIPFA
                .middle 
                    .img
                .bottom
                    span 2016
                    a Read More
            .article   
                .top 
                    span Kate Bedford
                    span PGDIPFA
                .middle 
                    .img
                .bottom
                    span 2016
                    a Read More
    script(src="https://kit.fontawesome.com/98e26dbbcb.js", crossorigin="anonymous") 