doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title assignment10
    body 
        main 
            .article 
                .article__category
                    span.category-text E-Commerce
                .article__title 
                    span.title-name UNIF
                .article__info 
                    .info-short 
                        span.short-string Design & Development
                    .info-button
                        .button-custom 2014 → Present
            .article 
                .article__category
                    span.category-text Event
                .article__title 
                    span.title-name Veuve Clicquot
                .article__info 
                    .info-short 
                        span.short-string Website, Initiative Identities
                    .info-button
                        .button-custom 2015 → Present
            .article 
                .article__category
                    span.category-text Artist
                .article__title 
                    span.title-name HAIM
                .article__info 
                    .info-short 
                        span.short-string Visual Identity, Digital Strategy, Design & Development
                    .info-button
                        .button-custom 2014 → Forever
            .article 
                .article__category
                    span.category-text Institutional
                .article__title 
                    span.title-name MOCA
                .article__info 
                    .info-short 
                        span.short-string Streaming Platform
                    .info-button
                        .button-custom 2016
            .article 
                .article__category
                    span.category-text Studio Project
                .article__title 
                    span.title-name Public Access
                .article__info 
                    .info-short 
                        span.short-string Website, Streaming Platform, Programming
                    .info-button
                        .button-custom 2015 → Forever
            .article 
                .article__category
                    span.category-text Musician
                .article__title 
                    span.title-name Kelela
                .article__info 
                    .info-short 
                        span.short-string Website, Streaming Platform, Programming
                    .info-button
                        .button-custom 2015
            .article 
                .article__category
                    span.category-text Category
                .article__title 
                    span.title-name Tilte Name
                .article__info 
                    .info-short 
                        span.short-string Interactive Microsite
                    .info-button
                        .button-custom years
            .article 
                .article__category
                    span.category-text Category
                .article__title 
                    span.title-name Tilte Name
                .article__info 
                    .info-short 
                        span.short-string Interactive Microsite
                    .info-button
                        .button-custom years
            .article 
                .article__category
                    span.category-text Category
                .article__title 
                    span.title-name Tilte Name
                .article__info 
                    .info-short 
                        span.short-string Interactive Microsite
                    .info-button
                        .button-custom years
        .divide
            .inc 
                span Special -- Offer, Inc.
            .years 
                span © 2014 -> Forever
            .fixed-icon
        .info
            nav 
                .menu
                    .menu__icon 
                    .menu__title Information
                .menu
                    .menu__icon 
                    .menu__title Team
                .menu
                    .menu__icon 
                    .menu__title Press
            .items 
                .item 
                    .item-title
                        span.title Art News
                    .item-content
                        p.content 
                        | Performa Launches Online Platform for Streaming New and Archived Works
                .item 
                    .item-title
                        span.title The Guardian
                    .item-content
                        p.content 
                        | Masked balls and gay uprisings: Queer Maps is a guide to 150 years of LGBTQ history
                .item 
                    .item-title
                        span.title Frieze
                    .item-content
                        p.content 
                        | Distributed DISsent -- How disart blurs the lines between education, entertainment and commerce
                .item 
                    .item-title
                        span.title It's Nice That
                    .item-content
                        p.content 
                        | Disart turns "learning into a Netflix-like experience"
                .item 
                    .item-title
                        span.title WWD
                    .item-content
                        p.content 
                        | Art Collective Dis Releases Progressive Video Platform
                .item 
                    .item-title
                        span.title Art Net
                    .item-content
                        p.content 
                        | DIS Magazine New York's Hippest Art Media Outlet, Is Launching a 'PBS for Gen Z'
                .item 
                    .item-title
                        span.title The New Yorker
                    .item-content
                        p.content 
                        | How to be a Successful Black Woman
                .item 
                    .item-title
                        span.title Village Voice
                    .item-content
                        p.content 
                        | Martine Syms's Interacive MoMA Istallation Explores The Tyranny of Screens
                .item 
                    .item-title
                        span.title Kaleidoscope Magazine
                    .item-content
                        p.content 
                        | Martine Syms & Carhartt WIP
                .item 
                    .item-title
                        span.title Dazed Magazine
                    .item-content
                        p.content 
                        | Dazed Summer 2017
                .item 
                    .item-title
                        span.title Art Forum
                    .item-content
                        p.content 
                        | Martine Syms discusses her Projects exhibition at MoMA
                .item 
                    .item-title
                        span.title Culture Type
                    .item-content
                        p.content 
                        | Public Access